<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indocyber.itsmeandroid">

    <permission
        android:name="android.permission.CALL_PRIVILEGED"
        android:protectionLevel="signature|privileged" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".view.blockallconfirmation.BlockAllConfirmationActivity"></activity>
<!--        <activity android:name=".view.chat.ChatActivity"></activity>-->
        <activity android:name=".view.editcreditcard.EditCreditCardActivity" />
        <activity
            android:name=".view.addmembership.AddMembershipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.contactcc.activity.ContactCCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.blockcc.activity.BlockCCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.membershipsecuritycode.MembershipSecurityCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.editcardsecuritycode.EditCardSecurityCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.blockconfirmationpin.BlockConfirmationPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.notificationdetail.NotificationDetail"
            android:parentActivityName=".view.notification.activity.NotificationActivity" />
        <activity
            android:name=".view.billingdetail.BillingDetailActivity"
            android:parentActivityName=".view.billing.activity.BillingActivity"/>
        <activity
            android:name=".view.billing.activity.BillingActivity"
            android:parentActivityName=".view.inbox.InboxActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.notification.activity.NotificationActivity"
            android:parentActivityName=".view.inbox.InboxActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.otp.OtpActivity"
            android:parentActivityName=".view.addcc.AddCcActivity" />
        <activity
            android:name=".view.requestincreaselimit.RequestIncreaseLimitActivity"
            android:parentActivityName=".view.addcc.AddCcActivity"/>
        <activity
            android:name=".view.addcc.AddCcActivity"
            android:parentActivityName=".view.home.activity.HomeActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.home.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.message.MessageActivity" />
        <activity
            android:name=".view.promo.activity.PromoActivity"
            android:parentActivityName=".view.home.activity.HomeActivity" />
        <activity
            android:name=".view.profile.activity.ProfileActivity"
            android:parentActivityName=".view.home.activity.HomeActivity" />
        <activity
            android:name=".view.inbox.InboxActivity"
            android:parentActivityName=".view.home.activity.HomeActivity" />
        <activity
            android:name=".view.register.RegistrationActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".view.login.LoginOptionActivity" /> -->
        <activity android:name=".view.login.LoginWithEmailActivity" />
        <activity android:name=".view.MainActivity" />
        <activity
            android:name=".view.login.LoginOptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indocyber.itsmeandroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>